body{
    background-color: white ;
    position: relative;
    height: 500px;
}
.hero {
    height: 100vh;
    font-size: 25px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
}
ul{
    display: flex;
    list-style-type: none;
    width: 200px;
    justify-content: space-between;
    font-size: 15px;
}
ul li a:hover{
    color: lightblue;
}
li{
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    font-family: Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #0a192f;
    font-size: 15px;
}
h1{
    color:  #273b75;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 70px;
    margin-top: 100px;
    margin-bottom: 15px;
}
p{
    color:  #0a192f;
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin: 0;
}
.logo{
    height: 80px;
    margin: 0px;
}
.socials{
    float: right;
    margin-right: 30px;
    width: 10px;
}
svg{
    fill: #0a192f;
}
.aboutpage{
    height: 175vh;
}
.about-intro{
    font-family: Helvetica, sans-serif;
    margin-top: 0;
    font-size: 30px;
    text-align: center;
    color: #0a192f
}
.loc{
    font-size: 20px;
    margin-top: 10px;
}
.profile-sec{
    max-width: 100%;
}
.profilepic{
    height: 200px;
    border-radius: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.about-me-temp{
    height: 600px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer{
    position: relative;
}
